# Backend
NODE_ENV=development
PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=7d
SYSTEM_ADMIN_FULL_NAME=
SYSTEM_ADMIN_EMAIL=
SYSTEM_ADMIN_PASSWORD=
SCHOOL_ADMIN_FULL_NAME=
SCHOOL_ADMIN_EMAIL=
SCHOOL_ADMIN_PASSWORD=
SCHOOL_ADMIN_SCHOOL_ID=

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api
